<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.raml.voodoo2d.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/voodoo2d/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>worldServlet</servlet-name>
    <servlet-class>com.raml.voodoo2d.server.WorldEndpoint</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>worldServlet</servlet-name>
    <url-pattern>/voodoo2d/world</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>tilesetServlet</servlet-name>
    <servlet-class>com.raml.voodoo2d.server.TilesetEndpoint</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tilesetServlet</servlet-name>
    <url-pattern>/voodoo2d/tileset</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>engineServlet</servlet-name>
    <servlet-class>com.raml.voodoo2d.server.EngineEndpoint</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>engineServlet</servlet-name>
    <url-pattern>/voodoo2d/engine</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>voodoo2d.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>